
	<div class="d-flex justify-content-center ">
		{{!-- <img src="/images/empty-cart.jpg" alt=""> --}}
		<img src="/images/empty-cart2.jpg" style="width: 40rem;" alt="">

		<h1 class="justify-content-center  mt-5 pt-5" style="padding-top: 200px;">Your cart is empty!!! <br>
			<a href="/view-products" class="btn btn-success ">Continue Shopping</a><br>
			<a href="/view-orders" class="btn btn-secondary">View orders</a>

		</h1>
		
	</div>
	