<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="order-image">
                <img src="/images/success.png" alt="order placed" class="" style="padding-left: 400px;">
                <h2 class="" style="text-align: center ;">Order placed successfully</h2>
                <div style="text-align: center ;">
                <a href="/view-orders" class="btn btn-secondary">View orders</a>
                <a href="/view-products" class="btn btn-success">Continue shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>